:root{
  --primaryColor: #5fb7ea;
  --primaryRGBA:  rgba(0, 0, 0, .3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all .3s ease-in-out;
  --mainSpacing: .3rem;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main{
  color: var(--primaryColor);
}

body{
  font-family: 'Open Sans', sans-serif;
  background: var(--mainGrey);
  color: var(--mainBlack);
}

.main-link{
  display: inline-block;
  color: var(--mainWhite);
  background: var(--primaryColor);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  padding: 0.5rem 1rem;
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
  transition: var(--mainTransition);
}

.main-link:hover{
  text-decoration: none;
  background: var(--darkGrey);
  color: var(--primaryColor);
  outline: 2px solid var(--darkGrey);
}
.cart-icon{
  cursor: pointer;
}